<div class="header-container">
    <div class="logo">
      <img src="https://w7.pngwing.com/pngs/815/570/png-transparent-taylor-francis-publishing-author-academic-journal-the-conference-on-asian-linguistic-anthropology-the-cala-2019-book-text-author-publishing-thumbnail.png" alt="Taylor & Francis Group" />
      <span class="company-name">Taylor & Francis Group</span>
      <span class="subtitle">an informa business</span>
    </div>
    <div class="header-actions">
      <div class="notifications">
        <i class="bell-icon"></i>
      </div>
      <div class="cart">
        <i class="cart-icon"></i>
      </div>
      <div class="user">
        <i class="user-icon"></i>
        <span class="user-name"></span>
        <i class="dropdown-icon"></i>
      </div>
    </div>
  </div>
  